.header {
  background-color: $white-color;
  border-bottom: $border-color;
  &__container {
    display: flex;
    align-items: center;
  }
}

.navigation {
  display: flex;
  align-items: center;
  &__list {
    display: flex;
    margin-left: 93px;
  }
  &__link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: $title-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color $transition-active;
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}

.navigation__item + .navigation__item {
  margin-left: 50px;
}

.current {
  color: $accent-color;
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: $accent-color;
    border-radius: 2px;
    bottom: -1px;
    left: 0;
  }
}

.contact {
  margin-left: auto;
  display: flex;
  align-items: center;
  &__link {
    color: $text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    transition: color $transition-active;
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
  &__item:last-child {
    margin-left: $tipical-margin;
  }

  &__icon {
    margin-right: 10px;
    fill: currentColor;
  }
}
