.header {
  background-color: var(--white-color);
  border-bottom: var(--border-color);
  &__container {
    display: flex;
    align-items: center;
  }
}

.navigation {
  display: flex;
  align-items: center;
  &__list {
    display: flex;
    margin-left: 93px;
  }
  &__link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--title-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color var(--transition-active);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}

.navigation__item + .navigation__item {
  margin-left: 50px;
}

.current {
  color: var(--accent-color);
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    bottom: -1px;
    left: 0;
  }
}

.contact {
  margin-left: auto;
  display: flex;
  align-items: center;
  &__link {
    color: var(--text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    transition: color var(--transition-active);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
  &__item:last-child {
    margin-left: var(--tipical-margin);
  }

  &__icon {
    margin-right: 10px;
    fill: currentColor;
  }
}
