.socials {
  display: flex;
  justify-content: center;
  &__item {
    width: 44px;
    height: 44px;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color var(--transition-active);
    &:hover,
    &:focus {
      background-color: var(--accent-color);
    }
  }
}
