%list {
  margin: 0;
  padding: 0;
  list-style: none;
}

%link {
  text-decoration: none;
}
%title {
  color: $title-color;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

%section-content {
  padding-top: $tipical-padding;
  padding-bottom: $tipical-padding;
}
